.content-favorite-icon {
    position: absolute;
    font-size: 2rem;
    bottom:10px;
    right: 20px;
    color: red;
    cursor: pointer;
}

.details-favorite-icon {
  color: red;
  font-size: 4rem;
  cursor: pointer;
}


.carousel-favorite-icon {
  color: red;
  cursor: pointer;
  font-size: 3rem;
  margin-left: 1rem;
}

.content-favorite-icon.active, .details-favorite-icon.active, .carousel-favorite-icon.active {
    font-weight: 700;
}