.filter-title {
    font-size: 2rem;
    font-weight: 700;
}

.filter-btn {
    padding: .5rem 1rem;
    background: #000;
    border: 2px solid #fff;
    border-radius: 5px;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    outline: none;
}

@media screen and (max-width: 540px) {
    .filter-options {
        font-size: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .filter-title {
        font-size: 1.5rem;
        font-weight: 700;
    }
}


@media screen and (max-width: 350px) {
    .filter-title {
        font-size: 1rem;
        font-weight: 700;
    }
} 