.pagination-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
  margin: 1rem 0;
  padding: 1rem 0;
}
.arrow-icon {
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
}
.pagination-btn:hover {
  color: #e91919;
  transition: color 0.2s ease-in-out;
}
.page-dots {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #6b6b6b;
  margin: 0 0.5rem;
  cursor: pointer;
}
.dot.active {
  background: #e91919;
  box-shadow: 0 0 10px #e91919;
}
.disabled {
  pointer-events: none;
  color: #6b6b6b;
}
.pagination-container.hide {
  display: none;
}
@media screen and (max-width: 768px) {
  .pagination-container {
    width: 90%;
  }
}
@media screen and (max-width: 360px) {
  .pagination-container {
    width: 80%;
  }
  .arrow-icon {
    font-size: 2rem;
  }
}
