.navbar {
  height: 7vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}
.navbar.active {
  background: #111111;
  z-index: 3;
}
.title {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ededed;
  margin-left: 2rem;
}
.navbar-img {
  transform: translateY(-2px);
  margin-left: 0.5rem;
  object-fit: contain;
}
.name {
  font-size: 2rem;
}
.nav-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #ededed;
  margin-right: 2rem;
}
.nav-link {
  list-style: none;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0 1rem;
}
.nav-link:hover {
  border-bottom: 2px solid red;
}
.burger {
  display: none;
}
.burger div {
  height: 3px;
  width: 25px;
  margin: 5px;
  background: #ededed;
  transition: transform 0.2s ease-in-out;
}
.line-1.toggle {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.line-2.toggle {
  opacity: 0;
}
.line-3.toggle {
  transform: rotate(45deg) translate(-5px, -6px);
}
.form {
  display: flex;
  align-items: center;
  border: 2px solid;
  display: none;
}
.search-icon {
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 1rem;
  transform: translateY(5px);
}

/* Media queries */
@media screen and (max-width: 1280px) {
  .nav-link {
    font-size: 1.5rem;
  }
  .search-icon {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1024px) {
  .nav-link {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 768px) {
  .nav-links {
    background: #111111;
    position: absolute;
    top: 7vh;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    z-index: 9;
    transition: opacity 0.2s ease-in-out;
  }
  .nav-links.active {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    pointer-events: all;
  }
  .nav-link {
    font-size: 2rem;
    margin: 1rem;
  }
  .search-icon {
    margin: 1rem;
    font-size: 2rem;
  }
  .burger {
    display: inline-block;
    z-index: 10;
    margin-right: 2rem;
  }
  .name {
    font-size: 2rem;
  }
  .navbar {
    justify-content: space-between;
    width: 100%;
  }
  .title {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ededed;
  }
  .navbar-img {
    height: 35px;
  }
}
@media screen and (max-width: 540px) {
  .name {
    font-size: 1.5rem;
  }
  .title {
    margin-left: 1rem;
  }
  .burger {
    margin-right: 1rem;
  }
  .navbar-img {
    height: 25px;
    transform: translateY(0);
  }
  .nav-link {
    font-size: 1.5rem;
  }
  .search-icon {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 320px) {
  .name {
    font-size: 1.2rem;
  }
  .navbar-img {
    height: 20px;
  }
}
