.details-container {
  min-height: 100vh;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: multiply;
  color: #ededed;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.details-main {
  min-height: 55vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.details-main-info {
  height: 450px;
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.details-main-info-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 1rem;
}
.details-title {
  font-size: 3rem;
}
.details-overview {
  font-size: 1.5rem;
  line-height: 1.5;
  width: 90%;
}
.details-genres {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.details-genres h2 {
  margin-bottom: 0.5rem;
  font-size: 2rem;
}
.details-genres span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.details-genre {
  padding-right: 1rem;
}
.gauge {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  width: 100px;
  height: 100px;
  position: relative;
}
.gauge-rating {
  color: #ededed;
  font-weight: 700;
  margin-top: 0.5rem;
}
.gauge-container {
  display: flex;
  align-items: center;
  width: 150px;
}
.details-poster {
  height: 450px;
  border-radius: 10px;
  box-shadow: 0 0 20px #171717;
}
.details-trailer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}
.trailer {
  height: 500px;
  width: 700px;
}
.trailer-h1 {
  margin-bottom: 1rem;
  position: relative;
}
.trailer-h1:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  background: #ededed;
  height: 3px;
  width: 100%;
}

/* Media queries */
@media screen and (max-width: 1280px) {
  .details-main-info {
    width: 95%;
  }
  .details-poster {
    height: 400px;
    margin-left: 1rem;
  }
  .details-overview {
    font-size: 1.2rem;
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .details-main-info {
    margin-left: 1rem;
  }
  .details-title {
    font-size: 2rem;
  }
  .details-genres h2 {
    font-size: 1.5rem;
  }
  .details-overview {
    font-size: 1rem;
  }
  .details-genre {
    font-size: 1rem;
  }
}
@media screen and (max-width: 540px) {
  .details-container {
    height: auto;
  }
  .details-main-info {
    height: auto;
    flex-direction: column;
    text-align: center;
  }
  .trailer {
    height: 300px;
    width: 500px;
  }
  .details-main-info {
    height: auto;
    margin-left: 0;
    margin-bottom: 3rem;
  }
  .details-poster {
    height: 300px;
    margin-left: 0;
    margin: 1rem 0;
  }
  .details-overview {
    width: 100%;
  }
  .details-title {
    margin-bottom: 1rem;
  }
  .details-genres {
    align-items: center;
    margin: 1rem 0;
  }
  .gauge-container {
    align-self: center;
  }
}
@media screen and (max-width: 500px) {
  .trailer {
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .details-title {
    font-size: 1.5rem;
  }
  .details-genres h2 {
    font-size: 1.3rem;
  }
}
