.component {
    margin: 2rem;
    color: #fff;
    height: 530px;
    width: 300px;
    transition: transform .2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(41, 41, 41);
    padding: 0 .5rem;
    border-radius: 10px;
    position: relative;
}

.component:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform .2s ease-in-out;
}

.component-img {
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    border: none;
}

.component-title {
    font-size: 1.1rem;
    margin: .5rem 0;
}

.component-release {
    color: grey;
    font-size: 1rem;
}

.content-favorite-icon {
    position: absolute;
    font-size: 1.5rem;
    bottom: 5px;
    right: 5px;
    color: #00fff5
}

@media screen and (max-width: 480px) {
    .component {
        margin: 1rem .5rem;
        width: 150px;
    }

    .component-img {
        height: 200px;
    }
}