.search-container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../../assets/search-wallpaper.jpg");
  background-size: contain;
  text-align: center;
  position: relative;
}
.search-container::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
}
.search-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  width: 100%;
  z-index: 2;
}
.search-title {
  color: #ededed;
  font-size: 3rem;
  margin: 1rem 0;
  text-shadow: 0 0 10px #000;
}
.search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 1rem 0;
  position: relative;
  z-index: 2;
}
.search-option {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
  margin-bottom: 1rem;
}
.search-type {
  font-size: 1.7rem;
  position: relative;
  cursor: pointer;
  padding: 0.5rem;
}
.search-type.active::after {
  content: "";
  background: #e91919;
  height: 5px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -5px;
  box-shadow: 0 0 10px #e91919;
}
.search-input-container {
  position: relative;
}
.search-input {
  font-size: 1.7rem;
  border: none;
  border-radius: 5px;
  padding: 0 1rem 0 0;
  outline: none;
  width: 100%;
}
.search-error-message {
  position: absolute;
  font-size: 1rem;
  color: #e91919;
  margin-top: 1rem;
  top: 100%;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  text-transform: uppercase;
  text-shadow: 0 0 10px #000;
  font-weight: 700;
}
.form-span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-form button {
  font-size: 1.7rem;
  border: none;
  border-radius: 5px;
  margin: 0 1rem;
  background: #e91919;
  box-shadow: 0 0 10px #e91919;
  color: #ededed;
  padding: 0.2rem 1rem;
  cursor: pointer;
}

/* Media queries */
@media screen and (max-width: 1280px) {
  .search-title {
    font-size: 3rem;
  }
}
@media screen and (max-width: 1024px) {
  .search-option {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .search-title {
    font-size: 2rem;
  }
  .search-type {
    font-size: 1.4rem;
  }
  .search-error-message {
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }
}
@media screen and (max-width: 540px) {
  .search-title {
    font-size: 1.5rem;
  }
  .search-type {
    font-size: 1rem;
  }
  .search-form button {
    font-size: 1rem;
  }
  .search-input {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
  }
}
@media screen and (max-width: 500px) {
  .search-title {
    color: #ededed;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 400px) {
  .search-type.active::after {
    height: 3px;
    bottom: 0px;
  }
  .search-error-message {
    position: absolute;
    bottom: 10px;
  }
  .search-option {
    width: 80%;
  }
}
@media screen and (max-width: 320px) {
  .search-title {
    font-size: 1rem;
  }
}
@media screen and (max-width: 300px) {
  .search-title {
    font-size: 0.8rem;
  }
  .search-type {
    font-size: 0.8rem;
  }
  .search-error-message {
    font-size: 0.6rem;
  }
}
